# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Escapism.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\etgarcia\Desktop\Escapism\.idea\.idea.Escapism\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
